html {
  overflow: hidden;
  height: 100vh;
}

body {
  height: 100%;

  overflow: hidden;

  margin: 0;
  padding: 0;

  background-color: #4d6560;
  box-sizing: border-box;
}

.header {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;

  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
}

.header__profile {
  position: relative;
  width: 100%;
  max-width: 720px;
}

img {
  right: -20%;
  bottom: 0;
  position: absolute;
  width: auto;
  height: 100vh;
}

.header__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;

  height: 100vh;
  width: 100%;
  max-width: 720px;
  padding-right: 20px;
}

h1 {
  font-family: "Hind", sans-serif;
  font-weight: 700;
  color: #32413e;

  font-size: 90px;
  line-height: 1;

  margin: 0;
  padding-bottom: 0;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /* margin-top: -30px; */
}

.circle {
  color: #4d6560;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32413e;
}

a {
  all: unset;
  cursor: pointer;
}

@media (max-width: 1160px) {
  .header {
    display: flex;
    width: 100%;
    max-width: unset;
    justify-content: center;
  }

  .header__profile {
    display: none;
  }

  .header__details {
    max-width: unset;
    padding-inline: 20px;
  }

  h1 {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 11vw;
  }

  .socials {
    gap: 8px;
  }

  .circle {
    height: 30px;
    width: 30px;
  }
}
